body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.entire-dashboard {
    display: grid;
    grid-template-columns: 170px ;
    grid-template-rows: 120px auto;
    grid-template-areas:
        "sidebar profile profile"
        "sidebar project announcement";
    height: 200vh;
    background-color: aliceblue;
}

/* Sidebar */
.dashboard {
    grid-area: sidebar;
    background: rgb(141, 141, 225);
    padding: 20px;
    border-right: 2px solid #333;
}


.dashboard ul {
    list-style: none;
    padding: 0;
}

.dashboard li {
    margin: 10px 0;
    cursor: pointer;
}

/* Profile (top bar) */
.profile {
    grid-area: profile;
    background: #fff;
    padding: 20px;
    border-bottom: 2px solid #333;
}

/* Projects */
.project {
    grid-area: project;
    background: #e7e9ff;
    padding: 20px;
    border-right: 2px solid #333;
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.project1{
   
}

/* Announcements */
.announcement {
    grid-area: announcement;
    grid-column-start: 4;
    background: #f7f7f7;
    padding: 20px;
}