body {
    margin:0;
    font-family:'Courier New', Courier, monospace; 
}

.entire-dashboard{
    resize: auto; 
    display: grid; 
    grid-template: repeat(5,200px); 
    background-color: rgb(10, 67, 116);
}

.dashboard{
    text-align: center;
    border: 1px solid; 
    grid-row-start: 1;
    grid-row-end: 6; 
    color:aliceblue; 
}
.profile{
    padding: 5px;
    background-color: rgb(156, 178, 197);
    border: 1px solid; 
    grid-column-start:2;
    grid-column-end: 8;
}
.project{
    background-color: rgb(148, 187, 221);
    padding:20px;
    border: 1px solid; 
    grid-column-start: 2;
    grid-column-end: 7;
     
}
.projectGrid{
    background-color: rgb(153, 160, 165);
  display: grid;
  padding: 20px;
  border: 1px solid; 
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: 200px 200px;
  gap: 10px; 
}
.sidebar{
    background-color: rgb(172, 193, 212);
    padding: 15px;
    display: grid; 
    gap: 70px; 
   
}

.sidebar > div{
    border: 1px solid; 
    padding: 10px; 
    background-color: aliceblue;
    border-radius: 5px;

}
.projectGrid > div {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px; 
  border-radius: 10px;
  background-color: rgb(209, 223, 235);
}